@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("md3-tokens/theme.css");

* {
    box-sizing: border-box;
    transition: outline 0s;
}

html,
body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  margin: 0;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background)
}

header {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    transition: background 1s;
    padding: 16px;
    height: 56px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

header a {
    color: var(--md-sys-color-on-primary-container);
    text-decoration: none;
}

header > a img {
    border-radius: var(--md-sys-shape-corner-full)
}

header > a:hover {
    background-color: hsla(149, 75%, 51%, 0.4);
}

.lawnchair__logo img,
.lawnchair__logo picture {
  height: 30px;
  width: 30px;
}

header nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}